### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr

### Java ###
*.class

### Build ###
out/
target/
build/

### Eclipse ###
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Kotlin ###
.kotlin/

### Mac OS ###
.DS_Store